.cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.parent-container {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .cards-wrapper {
    flex-direction: column;
  }
  .parent-container {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .cards-wrapper {
    width: 90%;
  }
}
